body{
    background-color: #8ba6ca;
}
#geralt-image{
    width: 70%;
    height: auto;
    border-radius: 50%;
    border: 5px solid #323a45;
}
#yennifer-image{
    width: 50%;
    height: auto;
    border-radius: 50%;
}
.header{
    font-family: Helvetica;
    text-align: center;
}
.url{
    font-size: 20px;
}
.lists{
    color: purple ;
}
#geralt-section{
    margin-left: 5%;
}
#yennifer-section{
    margin-left: 10%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 5px solid #323a45;
   }
.grid-item{
    border: 2px solid #323a45;
}
@media screen and (min-width: 993px) {
    p {
        font-size: 100px;
    }
}
@media screen and (max-width: 992px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 5px solid #323a45;
    }
    p{
        font-size: 60px;
    }
}
@media screen and (max-width: 600px){
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        border: 5px solid #323a45;
    }
    p{
        font-size: 30px;
    }
}
